src/java/cdk/src/main/java/com/cdk/inventory/ordering/workflows/workflow.setStock.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Wait 3",
  "States": {
    "Wait 3": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "Wait 5"
    },
    "Wait 5": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GenerateRandomStockLevel"
    },
    "GenerateRandomStockLevel": {
      "Type": "Pass",
      "Parameters": {
        "stockLevel.$": "States.MathRandom(50, 99)"
      },
      "ResultPath": "$.stock",
      "Next": "DynamoDB PutItem"
    },
    "DynamoDB PutItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${TableName}",
        "Item": {
          "PK": {
            "S.$": "$.productId"
          },
          "productId": {
            "S.$": "$.productId"
          },
          "stockLevel": {
            "N.$": "States.Format('{}', $.stock.stockLevel)"
          },
          "Type": {
            "S": "InventoryItem"
          }
        }
      },
      "End": true
    }
  }
}